/* form.css */

  
  .form {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 500px;
  height: 450px;
  padding: 20px;
    border-width: 2px;
    box-shadow: gray 0px 0px 10px;
    border-radius: 10px;
    padding: 20px;
  }

  .form:hover{
    -webkit-box-shadow: 10px 10px 5px -1px rgba(67, 103, 116, 0.62);
    -moz-box-shadow: 10px 10px 5px -1px rgba(41,80,94,0.62);
    box-shadow: 10px 10px 5px -1px rgba(41,80,94,0.62);
  }

  .form input{
    width: 100%;
    background-color: #dcf2f3;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(16, 70, 92);
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    margin-bottom: 20px;
    Width: 100%;
  }
  
  .input-box input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }

  .input-box input:focus {
    border-color: #66abc7;
  }
  
  .date-picker {
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .button input[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #225468;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .button input[type='submit']:hover {
    background-color: #193a47;
  }
  

  @media (max-width: 600px) {
    .form{
      width: 300px;
      height: 400px;
    }

    .input-box input{
      width: 280px;
    }
    .input-box input,
    .date-picker {
      width: 80%; /* Adjust width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .input-box input,
    .date-picker {
      width: 100%; /* Adjust width for even smaller screens */
    }
  }


  @media (max-width: 375px) {
    .form{
      width: 250px;
      height: 360px;
    }

    .input-box input{
      width: 220px;
    }

    .title {
      font-size: 20px;
    }
  }

  @media (max-width: 300px) {
    .form{
      width: 200px;
      height: 350px;
      gap: 0px;
    }

    .input-box input{
      width: 150px;
    }
    .date-picker {
      width: 30%; /* Adjust width for even smaller screens */
    }

    .title {
      font-size: 15px;
    }
  }