.areaC{
    flex: 5;
    width: 750px;
    -webkit-box-shadow: 10px 10px 5px -1px rgba(67, 103, 116, 0.62);
    -moz-box-shadow: 10px 10px 5px -1px rgba(41,80,94,0.62);
    box-shadow: 10px 10px 5px -1px rgba(41,80,94,0.62);
}