.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #628aac; /* Change as per your design */
  color: #fff; /* Change as per your design */
}

.logo img {
  height: 40px; /* Adjust as needed */
  align-items: center;
}

.title {
  font-size: 20px; /* Adjust as needed */
  font-weight: bold;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.account {
  position: relative;
  cursor: pointer;
}

.mode,
.account .account-icon {
  font-size: 24px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 40px; /* Adjust according to your layout */
  right: 20px; /* Adjust according to your layout */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.avatar {
  text-align: center;
  padding: 10px;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  color:#225468;
}

.settings,
.logout {
  text-align: center;
  padding: 10px;
}

.settings button,
.logout button {
  padding: 5px 10px;
  background-color: #225468;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.settings button:hover,
.logout button:hover {
  background-color: #193a47;
}

.navbar.dark {
  background-color: #333; /* Update with your dark mode background color */
  color: #fff; /* Update with your dark mode text color */
}

/* Bright mode */
.navbar.bright {
  background-color: #628aac; /* Update with your bright mode background color */
  color: #fff; /* Update with your bright mode text color */
}