.datatable-container {
  width: 500px;
  height: 450px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.datatable-container:hover {
  -webkit-box-shadow: 10px 10px 5px -1px rgba(67, 103, 116, 0.62);
  -moz-box-shadow: 10px 10px 5px -1px rgba(41,80,94,0.62);
  box-shadow: 10px 10px 5px -1px rgba(41,80,94,0.62);
}

.datatable {
  width: 100%;
  border-collapse: collapse;
}

.datatable th, .datatable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.datatable th {
  background-color: #53656b;
}


@media screen and (max-width: 600px){
  .datatable-container {
    width: 300px;
    height: 300px;
  }
}